 
.copyright-footer{
    padding: 0px 0px;
    min-height: 10px;
    max-height: 50px;
    background-color: #33333314;
}
.footer-link{
    color: #fff !important;
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: underline;
}
header{
    z-index: 5;
    line-height: 64px;
}
h1{
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}